body {
  font-family: 'Roboto', sans-serif;
}

.logo {
  width: auto;
  height:80%;
}

.divider {
  height: 5px;
  width:100%;
  background-color: #ccc;
  margin: 0 15px 5px;
}

.color-1,
.color-2,
.color-3 {
  width: 5vw;
  height: 5vw;
  max-width: 50px;
  max-height: 50px;
  margin-left: auto;
  margin-right: auto;
}

.color-1 {
  background-color: #f00;
}

.color-2 {
  background-color: #0f0;
}

.color-3 {
  background-color: #00f;
}

.main-image {
  width:100%;
}

.project1 {
  border: 2px solid #f00;
  border-radius: 5px;
}

.project2 {
  border: 2px solid #0f0;
  border-radius: 5px;
}

.project3 {
  border: 2px solid #00f;
  border-radius: 5px;
}
